<html>
<head>
  <link href="tailwind" rel="stylesheet">
  <title>登录</title>
  <script>
    function vali() {
      const email = document.getElementById("emailInput").value
      if (email == "admin") {
        location.href = "home"
      } else {
        alert("输入admin和任意密码都可以进去新页面")
      }
    }

  </script>
</head>
<body>
<section class="h-screen">
  <div class="px-6 h-full text-gray-800">
    <div class="flex xl:justify-center lg:justify-between justify-center items-center flex-wrap h-full g-6" >
      <div class="xl:ml-20 xl:w-5/12 lg:w-5/12 md:w-8/12 mb-12 md:mb-0">
        <div class="flex justify-center">
          <div class="block p-6 rounded-lg shadow-lg bg-white max-w-sm">
            <h1 class="text-gray-900 text-4xl mb-4 mt-4 flex justify-center">注册</h1>
            <form action="/api/user/register" id="regForm" method="post">
              <!-- Email input -->
              <div class="mb-6">
                <input
                  type="text"
                  name="email"
                  class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  id="emailInput"
                  placeholder="邮箱"
                />
              </div>
              <!-- Password input -->
              <div class="mb-6">
                <input
                  type="password"
                  name="password"
                  class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  id="pwdInput"
                  placeholder="密码"
                />
              </div>
              <div class="text-center lg:text-left">
                <input type="button" onclick="return vali()" value="登录"
                  class="inline-block px-7 py-3 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
                />
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
