<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.org.mapper.CourseChapterMapper">

    <!--
    -add
    -->
    <insert id="insertChapter" parameterType="com.org.model.CourseChapter">
        INSERT INTO m_course_chapter (`cha_index`, `title`, `content`, `course_id`, `resource_url`, `time` )
        VALUES (#{chaIndex}, #{title}, #{content}, #{courseId}, #{resourceUrl}, #{time} )
    </insert>

    <!--
    -delete
    -->

    <!--
    -update
    -->
    <update id="udChapter" parameterType="com.org.model.CourseChapter">
        update m_course_chapter
        <set>
            <if test="chaIndex!=null and chaIndex!=''">
                CHA_INDEX = #{chaIndex},
            </if>
            <if test="title!=null and title!=''">
                TITLE = #{title},
            </if>
            <if test="content!=null and content!=''">
                CONTENT = #{content},
            </if>
            <if test="resourceUrl!=null and resourceUrl!=''">
                RESOURCE_URL = #{resourceUrl},
            </if>
            <if test="time!=null and time!=''">
                TIME = #{time}
            </if>
        </set>
        where id = #{id}
    </update>

    <!--
    -search
    -->


</mapper>
